// Primary
$teal: #1d9bcf;
$navy-light: #0e668e;
$navy-dark: #073a50;
$maroon: #37050d;
$red: #83192b;
$night: #09080a;
$light: #bbd2d9;
$white: #f2f1f4;


// Dranchor
$dark: #272828;
$tan: #bfad97;
$teal-1: #37bcd9;
$teal-2: #3ac6da;

// Lightower
$navy: #395175;
$pale: #6c95bd;
$dark: #3d3d41;
$light: #f2f1f4;
$brown: #8a6e4c;
$green: #377254;

// Steership
$navy: #0e668e;
$gravy: #395158;
$dark: #1b2328;
$yellow: #d59137;
$light: #bbd2d9;

// Sunsetsail
$dark-1: #0b0909;
$dark-2: #26160f;
$tan-1: #716052;
$tan-1: #a37e5e;
$gravy: #f2b37b;
$sun-1: #f27748;
$sun-2: #a7624f;

// Old colors.scss

$primary: #401B33;
$light: #C5D9CA;
$dark: #2E292C;

$brown: #732D25;
$tan: #A68B88;
$tan2: #948C77;
$light2: #D4C7A4;

// Marooned
$marooned-1: #260A11;
$marooned-2: #40121E;
$marooned-3: #735C68;
$marooned-4: #BCBABF;
$marooned-5: #F0F0F2;

// Maroon Shabby Chic
$Maroon-Chic-1: #6A6173;
$Maroon-Chic-2: #D5C8D6;
$Maroon-Chic-3: #59303E;
$Maroon-Chic-4: #C5A3A5;
$Maroon-Chic-5: #E2B28E;