$brand-color: cadetblue;
$brand-secondary: #567190;
$brand-accent: #A0615F;
$brand-dark: #1C2F30;
$pg-hdr-sm: 96px;
$pg-hdr-lg: 64px;

%special-quote {
    background-color: $brand-secondary;
    color: white;
}

@media (max-width: 575px) {
    .text-highlight {
        font-size: 1em;
        padding: .8em 1em;
        margin: .2em -.5em;
    }

    .dot-separator {
        margin: auto;
        font-size: 4em;
        line-height: 2em;
    }
}

@media (min-width: 576px) {
    h2 {
        margin: .2em 0 .1em 0;
    }

    .pg-hdr {
        height: $pg-hdr-sm;
        padding: 8px 0;
    }

    .book-card {
        width: 28rem;
        margin: 1em;
    }

    .text-highlight {
        font-size: 1.4em;
        padding: 1em;
        margin: .4em -1em;
    }

    .dot-separator {
        margin: auto 1em;
        font-size: 4em;
        line-height: 1.5em;
    }

}

@media (min-width: 768px) {
    h2 {
        margin: .5em 0 .3em 0;
    }

    .pg-hdr {
        height: $pg-hdr-sm;
        padding: 8px 0;
    }

    .hdr-right {
        padding-top: none;
    }

    .book-card {
        width: 20rem;
        margin: 1em;
    }

    .text-highlight {
        font-size: 1.6em;
        padding: 1em;
        margin: .5em -2em;
    }

    .dot-separator {
        margin: auto .4em;
        font-size: 4em;
        line-height: .5em;
    }

    .table {
        font-size: .8em;

        ul {
            font-size: 0.7em;
        }

        td {
            padding: .3em .1em .4em .1em;
        }

        #col1 {
            width: 7%;
        }

        #col2 {
            width: 8%;
        }

        #col3 {
            width: 50%;
        }

        #col4 {
            width: 35%;
        }
    }
}

@media (min-width: 992px) {
    h2 {
        margin: 1em 0 .5em 0;
    }

    .pg-hdr {
        height: $pg-hdr-lg;
        padding: 8px 0;
    }

    .hdr-right {
        padding-top: 16px;
    }

    .book-card {
        width: 28rem;
        margin: 1em;
    }

    .text-highlight {
        font-size: 2em;
        padding: 1.4em;
        margin: .5em -3em;
    }

    .dot-separator {
        margin: auto .5em;
        font-size: 6em;
        line-height: .5em;
    }

}

a {
    color: $brand-color;
}

a:hover {
    color: $brand-accent;
}

a:visited {
    color: $brand-secondary;
}

#books-body {
    background-color: $brand-dark;
}

.table {
    font-size: .9em;

    ul {
        font-size: 0.8em;
    }

    td {
        padding: .5em .1em .5em .1em;
    }

    #col1 {
        width: 7%;
    }

    #col2 {
        width: 8%;
    }

    #col3 {
        width: 50%;
    }

    #col4 {
        width: 35%;
    }

}

.pg-hdr {
    background-color: $brand-color;
    
    h1 {
        vertical-align: middle;
    }

}

.page-container {

    p {
        text-align: justify;
        text-indent: 2em;
    }

}

.page-intro {
    margin: 1em 0;

    p {
        margin-top: .5em;
        margin-bottom: .5em;
    }
}

.dot-separator {
    color: $brand-color;
    text-align: center;
}

.text-highlight {
    @extend %special-quote;
}