{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <!-- Styles -->
  <link rel="stylesheet" href="{% static '/assets/css/main.css' %}" />
  <link rel="icon" href="{% static '/images/favicon.png' %}" />
  <noscript>
    <link rel="stylesheet" href="{% static '/assets/css/noscript.css' %}" /></noscript>
</head>

<body class="is-preload">

  {% block content %}
  {% endblock content %}

  <!-- Footer -->
  <footer id="footer">
    <section>
      <h2>#100DaysofStory</h2>
      <p>100 Micro-adventures by <i>Tobias Reaper</i></p>
      <p>My second of three #100DaysofX challenges of 2019</p>
      <ul class="actions">
        <li><a href="{% url 'about' %}" class="button">Learn More</a></li>
      </ul>
    </section>
    <section>
      <h2>Get In Touch!</h2>
      <dl class="alt">
        <dt>Email</dt>
        <dd><a href="mailto:hi@tobias.fyi">hi@tobias.fyi</a></dd>
      </dl>
    </section>
    <p class="copyright">&copy; Content on this site is licensed under a <a
        href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      <br>Designed by Fineyedesign with inspiration from <a href="https://html5up.net">HTML5 UP</a>.
    </p>
  </footer>

  </div>

  <!-- Scripts -->
  <script src="{% static '/assets/js/jquery.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static '/assets/js/browser.min.js' %}"></script>
  <script src="{% static '/assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static '/assets/js/util.js' %}"></script>
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>