{% extends 'base.html' %}
{% load static %}

{% block title %}{{ story.title }}{% endblock title %}

{% block content %}
<div id="wrapper">

	<header id="header">
		<h1>{{ story.title }}</h1>
		<p>{{ story.date }}</p>
		<!-- TODO: Add pagination buttons -->
	</header>

	<div id="main">

		<section id="content" class="main">
			<span class="image main"><img src="{{ story.image.url }}" alt="{{ story.caption }}" /></span>
			<div class="content">
				<header class="major">
					<h4>Artwork: {{ story.caption }}</h4>
					<h4>Soundtrack: {{ story.music }}</h4>
				</header>
				<!-- <iframe src="{{ story.music_link }}" width="300" height="380" frameborder="0" allowtransparency="true"
					allow="encrypted-media"></iframe> -->
				<hr>
			</div>
			<div>
				<p>{{ story.body|linebreaksbr }}</p>
			</div>
			<div>
				<ul class="actions">
					<!-- TODO: Add pagination buttons -->
					<!-- TODO: Add if statement to include Next / Previous if exists
					<li><a href="{% url 'story_list' %}" class="button">Next Story</a></li> -->
					<li><a href="{% url 'story_list' %}" class="button">Back to List</a></li>
					<li><a href="{% url 'story_list' %}" class="button">Next Story</a></li>
				</ul>
			</div>
		</section>

	</div>
	{% endblock content %}