{% extends 'base.html' %}
{% load static %}

{% block title %}Stories{% endblock title %}

{% block content %}
<div id="wrapper">

	<header id="header" class="alt">
		<span class="logo"><img src="{% static '/images/logo.svg' %}" alt="vibrary logo" /></span>
		<h1>#100DaysofStory</h1>
		<p>100 Micro-Adventures by <i>Tobias Reaper</i></p>
	</header>

	<nav id="nav">
		<ul>
			{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}">‹</a></li>
			<li><a href="?page={{ page_obj.paginator.num_pages }}">«</a></li>
			{% endif %}

			{% for story in stories reversed %}
			<li><a href="#{{ story.pk }}" class="active">{{ story.title }}</a></li>
			{% endfor %}

			{% if page_obj.has_previous %}
			<li><a href="?page=1">»</a></li>
			<li><a href="?page={{ page_obj.previous_page_number }}">›</a></li>
			{% endif %}
		</ul>
	</nav>

	<!-- Main Container -->
	<div id="main">

		<!-- Display Story / Image Previews -->
		{% for story in stories %}
		<section id="{{ story.pk }}" class="main">
			<div class="spotlight">
				<div class="content">
					<header class="major">
						<h2>{{ story.title }}</h2>
					</header>
					<p>{{ story.body|truncatewords_html:24|safe }}</p>
					<ul class="actions">
						<li><a href="{% url 'story_detail' story.pk %}" class="button">Read On</a></li>
					</ul>
				</div>
				<span class="image"><img src="{{ story.image.url }}" alt="{{ story.caption }}" /></span>
			</div>
		</section>
		{% endfor %}

	</div>
	{% endblock content %}